ALTER TABLE PURCHASE_ORDER_DETAILS
DROP CONSTRAINT purchase_order_details_purchase_id_fkey;

ALTER TABLE PURCHASE_ORDER_DETAILS
ADD CONSTRAINT fk_purchase_details
FOREIGN KEY (purchase_id)
REFERENCES PURCHASE_ORDER(purchase_id)
ON DELETE CASCADE;

------
ALTER TABLE SALES_BILL_DETAILS
DROP CONSTRAINT sales_bill_details_bill_id_fkey;

ALTER TABLE SALES_BILL_DETAILS
ADD CONSTRAINT fk_sales_details
FOREIGN KEY (bill_id)
REFERENCES SALES_BILL(bill_id)
ON DELETE CASCADE;


-----
ALTER TABLE INVENTORY
DROP CONSTRAINT inventory_product_id_fkey;

ALTER TABLE INVENTORY
ADD CONSTRAINT fk_inventory_product
FOREIGN KEY (product_id)
REFERENCES PRODUCT(product_id)
ON DELETE CASCADE;

-----
ALTER TABLE REORDER_LEVEL
DROP CONSTRAINT reorder_level_inventory_id_fkey;

ALTER TABLE REORDER_LEVEL
ADD CONSTRAINT fk_reorder_inventory
FOREIGN KEY (inventory_id)
REFERENCES INVENTORY(inventory_id)
ON DELETE CASCADE;

-----
ALTER TABLE SALES_RETURN
DROP CONSTRAINT sales_return_bill_id_fkey;

ALTER TABLE SALES_RETURN
ADD CONSTRAINT fk_sales_return
FOREIGN KEY (bill_id)
REFERENCES SALES_BILL(bill_id)
ON DELETE CASCADE;

-----
ALTER TABLE PURCHASE_RETURN
DROP CONSTRAINT purchase_return_purchase_id_fkey;

ALTER TABLE PURCHASE_RETURN
ADD CONSTRAINT fk_purchase_return
FOREIGN KEY (purchase_id)
REFERENCES PURCHASE_ORDER(purchase_id)
ON DELETE CASCADE;

-----
ALTER TABLE SALES_BILL
DROP CONSTRAINT sales_bill_customer_id_fkey;

ALTER TABLE SALES_BILL
ADD CONSTRAINT fk_sales_customer
FOREIGN KEY (customer_id)
REFERENCES CUSTOMER(customer_id)
ON DELETE SET NULL;

-----
ALTER TABLE STOCK_TRANSACTION
DROP CONSTRAINT stock_transaction_supplier_id_fkey;

ALTER TABLE STOCK_TRANSACTION
ADD CONSTRAINT fk_stock_supplier
FOREIGN KEY (supplier_id)
REFERENCES SUPPLIER(supplier_id)
ON DELETE SET NULL;

-----
ALTER TABLE WAREHOUSE
DROP CONSTRAINT warehouse_employee_id_fkey;

ALTER TABLE WAREHOUSE
ADD CONSTRAINT fk_warehouse_employee
FOREIGN KEY (employee_id)
REFERENCES EMPLOYEE(employee_id)
ON DELETE SET NULL;

-----
ALTER TABLE PAYMENT
DROP CONSTRAINT payment_bill_id_fkey;

ALTER TABLE PAYMENT
ADD CONSTRAINT fk_payment_bill
FOREIGN KEY (bill_id)
REFERENCES SALES_BILL(bill_id)
ON DELETE RESTRICT;

-----
ALTER TABLE PAYMENT
DROP CONSTRAINT payment_purchase_id_fkey;

ALTER TABLE PAYMENT
ADD CONSTRAINT fk_payment_purchase
FOREIGN KEY (purchase_id)
REFERENCES PURCHASE_ORDER(purchase_id)
ON DELETE RESTRICT;

-----
ALTER TABLE STOCK_TRANSACTION
DROP CONSTRAINT stock_transaction_product_id_fkey;

ALTER TABLE STOCK_TRANSACTION
ADD CONSTRAINT fk_stock_product
FOREIGN KEY (product_id)
REFERENCES PRODUCT(product_id)
ON DELETE RESTRICT;

-----
ALTER TABLE RECEIPT
DROP CONSTRAINT receipt_payment_id_fkey;

ALTER TABLE RECEIPT
ADD CONSTRAINT fk_receipt_payment
FOREIGN KEY (payment_id)
REFERENCES PAYMENT(payment_id)
ON DELETE RESTRICT;

-----
ALTER TABLE PRODUCT_PROMOTION
DROP CONSTRAINT product_promotion_product_id_fkey;

ALTER TABLE PRODUCT_PROMOTION
DROP CONSTRAINT product_promotion_promo_id_fkey;

ALTER TABLE PRODUCT_PROMOTION
ADD CONSTRAINT fk_pp_product
FOREIGN KEY (product_id)
REFERENCES PRODUCT(product_id)
ON DELETE CASCADE;

ALTER TABLE PRODUCT_PROMOTION
ADD CONSTRAINT fk_pp_promo
FOREIGN KEY (promo_id)
REFERENCES PROMOTION(promo_id)
ON DELETE CASCADE;
